<div class="row">
  <div class="col-3">
    <!--ジャンル表-->
    <%= render "public/genres/table", genres: @genres %>
  </div>
  <div class="col-9">
    <div class="container">
      <div class="row">
        <div class="col"><h3>商品一覧</h3></div>
        <div class="col">(全<%= @items.count %>件)</div>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="d-flex flex-wrap">
            <div>
              画像<br>
              <%= item.name %><br>
              <%= item.price %>円
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>