<div class="col-4">
  <h2><i class="fa-solid fa-user-tag"></i>管理者用ページ</h2>
</div>
<div class="col-8">
  <% if admin_signed_in? %>
    <ul>
      <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "顧客ページ", root_path %>
      <li><%= link_to "ログイン", new_admin_session_path %></li>
    </ul>
  <% end %>
</div>